<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Session Example</title>
</head>
<body>
<div>
    <form th:action="@{/persistMessage}" method="post">
        <textarea name="msg" cols="40" rows="2"></textarea>
        <br> <input type="submit" value="Save Message" />
    </form>
</div>
<div>
    <h2>Messages</h2>
    <th:block th:each="message : ${sessionMessages}">
        <li th:text="${message}">msg</li>
    </th:block>
</div>
<div>
    <h2>Session ID</h2>
    Current Session ID is <span th:text="${sessionId}" />
</div>
<div>
    <form th:action="@{/destroy}" method="post">
        <input type="submit" value="Destroy Session" />
    </form>
</div>
</body>
</html>